-
    var socialsList = [
            {
                href: 'https://www.facebook.com/stickysisters.ru/',
                xlink: 'assets/sprite/sprite.svg#fcb'
            },
            {
                href: 'https://www.instagram.com/sticky_sisters/',
                xlink: 'assets/sprite/sprite.svg#inst'
            },
            {
                href: 'https://www.youtube.com/channel/UCNCwhPjC75koMs9ZmaVCD8g',
                xlink: 'assets/sprite/sprite.svg#yt'
            }
    ];
-
    var menuList = [
        {
            item: 'Главная',
            href: 'index.html'
            

        },
        {
            item: 'Каталог',
            href: '#'
            
        },
        {
            item: 'Акции',
            href: 'aktcii.html'

        },
        {
            item: 'Распродажа',
            href: 'sale_product.html'

        },
        {
            item: 'Доставка',
            href: 'dostavka.html'

        },
        {
            item: 'О нас',
            href: 'o-nas.html'

        },
        {
            item: 'Новости',
            href: 'title_news.html'

        }
        
    ];
-
    var subMenuList= [
                    {
                        subMenu: {
                        'Стикеры': 'stiker.html',
                        'Стикербуки': 'stickerbooki.html',
                        'Закладки': 'zakladki.html',
                        'Бирки на подарки': 'tags_gifts.html',
                        'Открытки': 'cards.html',
                        'Планеры': 'planner.html' 
                        }
                    },
                    {
                    stock: {
                        'Дарим 1000 рублей': 'aktcii.html',
                        'Бесплатная доставка': 'aktcii.html',
                        'Промокоды': 'aktcii.html',
                        
                        } 
                    }
            ];