.navigation
    a(href="index.html" class="navigation__link") Главная 
    span.navigation__current-page 
        svg.navigation-svg
            use(xlink:href="assets/sprite/sprite.svg#next") 
        | Темы блога