.navigation__cart
    .navigation__cart--chain
        a(href="cart-onclick.html" class="navigation__cart__link") 1.Корзина товаров 
        span.wrap__navigation__cart-svg
            svg.navigation__cart-svg
                use(xlink:href="assets/sprite/sprite.svg#next")
        span.navigation__cart__curent-page 2.Информация для доставки
        span.wrap__navigation__cart-svg
            svg.navigation__cart-svg
                use(xlink:href="assets/sprite/sprite.svg#next")
        span.navigation__cart__page 3.Оплата
    .navigation__cart--step шаг 1 из 3

         