extends ../template

block variables
    - var title = 'Главная страница'

block content 
    .grid__container--index
        include ../common/header.pug
        include ../section/home.pug
        include ../section/product-grid.pug
        include ../common/footer.pug
        include ../common/menu-mobile.pug
        include ../common/popup-product.pug
    
    



                                
