.grid__container--index
    dis()
    grid-gap 30px 0
    gtc(1fr)
    gtr(minmax(80px, auto) auto auto auto)
    gta("header"\
        "home"\
        "product"\
        "footer")


.section__home 
    grid-area home
.section__products__grid
    grid-area product
   

  